<html>
<head>
<link href="app.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>PARKING COST CALCULATOR</h1>
<table>
<tbody>
<tr>
<th>Choose a parking lot</th>
<td><select name="parking_lot"></select></td>
</tr>
</tbody>
</table>
</body>
</html>
